{%  extends "base.html"  %}
{% block content %}
{% load static %}
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" width="125px">
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'product' %}">Products</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="account.html">Account</a></li>
                </ul>
            </nav>
            <a href="{% url 'cart' %}"> <img src="{% static 'images/cart.png' %}" width="30px" height="30px"> </a>
            <img src="{% static 'images/menu.png' %} " class="menu-icon" onclick="menutoggle()">
        </div>
    </div>
    <div class="small-container">
        <div class="row row-2">
            <h2>All Products</h2>
            <select>
                <option>Default Sorting</option>
                <option>Sort by price</option>
                <option>Sort by popularity</option>
                <option>Sort by rating</option>
                <option>Sort by sales</option>
            </select>
        </div>
        
        <div class="row">
            {% for  i in product %}
                <div class="col-4">

                    <a href="{% url 'productpage' i.id %}"><img src="{{i.product_pic.url}}"></a>
                    
                    <h4>{{i.name}}</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      
                    </div>
                    <p>{{i.price}}</p>
                </div>
            {% endfor  %}
        </div>
        
    <div class="page-btn">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>&#8594;</span>
        </div>
    </div>

    {%  endblock %}